body {
  /* display: flex;
  flex-wrap: wrap; */
  color: rgb(0, 0, 0);
  font-family: Montserrat;
}
#navigace {
  width: 100%;
  height: 48px;
  background-color: rgb(22, 107, 37);
  font-family: 'Pattaya', sans-serif;
  font-size: 1.7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#navigace a {
  text-decoration: none;
  padding-right: 40px;
  padding-left: 40px;
  color: rgb(0, 0, 0);
}
#navItems {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  margin: 0;
}
.content {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
}
h1 {
  color: rgb(175, 3, 3);
  font-size: 4.2rem;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  font-family: 'Pattaya', sans-serif;
}
p {
  margin-left: 15%;
  margin-right: 15%;
}
img {
  width: 16.4%;
}
#obrazky {
  align-content: center;
  justify-content: center;
}

.tlacitko {
  width: 13rem;
  height: 4rem;
  background-color: rgb(22, 107, 37);
  font-family: 'Pattaya', sans-serif;
  font-size: 1.5rem;
  border-radius: 8px;
  margin: 30px;
}
.card {
  width: 450px;
}
.card-title {
  margin: 20px;
}
.question-choices {
  font-size: 1rem;
}
.cta {
  color: rgb(22, 107, 37);
  font-family: 'Pattaya', sans-serif;
  font-size: 1.5rem;
}
.formUserDetails {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formular1 {
  color: rgb(0, 0, 0);
  width: 300px;
  margin-left: 30%;
  margin-right: 30%;
}
.otazka {
  display: flex;
  flex-basis: 100%;
  margin: 10px;
  justify-content: space-between;
}
.formFood {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.formFood-otazka {
  text-align: center;
  justify-self: center;
}
.formFood-group {
  width: 200px;
  margin-left: 35%;
  margin-right: 35%;
}

.formFood label {
  width: 120px;
  display: flex;
  flex-basis: 100%;
  margin: 8px;
  align-items: center;
}
.formFood input {
  margin-right: 7px;
}
.formactivity-question {
  font-size: 1.2rem;
}
.formactivity-check {
  text-align: left;
  margin: 5px;
}
.form-check-input {
  margin-right: 7px;
}
/*

.intro {
  color: brown;
}*/
